<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                      
      </button>
      <a href="/" class="navbar-brand">iLoveMyCity</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/about-us">ABOUT US</a></li>
        <li><a href="/who-we-are">WHO WE ARE</a></li>
          <li><a href="/what-we-have-done">WHAT WE HAVE DONE</a></li>
          <li><a href="/programmes">PROGRAMMES</a></li>
          <li><a href="/facilities-amenities">FACILITIES & AMENITIES</a></li>
          <li><a href="/admissions">ADMISSIONS</a></li>
      </ul>
    </div>
  </div>
</nav>