<html>
    <head>
        {{>meta}}
    </head>
    <body>
        <div class="container">
            {{>header}}
        </div>
        <div class="container">
            {{>nav}}
        </div>
        <div class="container">
           {{content}}
        </div>
        {{>jsincludes}}
    </body>
</html>